        <script>
            // let title = document.querySelector('title');
            // title.innerText = document.querySelector('.selected').innerText;
        </script>
        <footer></footer>
    </body>
</html>