<!DOCTYPE html>
<html>
    <head>
      <title></title>
      <link href="https://fonts.googleapis.com/css?family=Play:400,700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
      <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
      </script>
    </head>
    <body>
      <nav class="navbar">
        <a id="brand" href="/">Soft Riders</a>
        <a href="/">Home</a>
        <a href="/archives">Past Shows</a>
        <a href="/playlists">Playlists</a>
        <a href="#">Promos</a>
        <a href="#">About</a>
      </nav>