<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Play:400,700&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.9.0/js/all.js" integrity="sha384-7Gk1S6elg570RSJJxILsRiq8o0CO99g1zjfOISrqjFUCjxHDn3TmaWoWOqt6eswF" crossorigin="anonymous"></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous">
    </script>
  </head>
  <body>
    <nav class="navbar-header">
      <div class="bars">
        <i class="fas fa-bars"></i>
      </div>
      <div class="navbar">
        <ul>
          <li><a id="brand" href="/">Soft Riders</a></li>
          <li><a href="/">Home</a></li>
          <li><a href="/playlists">Playlists</a></li>
          <li><a href="/archives">Past Shows</a></li>
          <li><a href="/promos">Promos</a></li>
          <li><a href="#">Store</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </nav>
    
      