<form class="signup" action="/" method="POST">
  <div id="field">
    <div>
      <label for="name">Name</label>
    </div>
    <input type="text" name="firstName" placeholder="First Name">    
    <input type="text" name="lastName" placeholder="Last Name"> 
  </div>
  <div id="field">
    <div>
      <label for="email">Email</label>
    </div>
    <input type="email" name="email">
  </div>
  <div id="field">
    <div>
      <label for="location">Location</label>
    </div>
    <input type="text" name="location" placeholder="example: Miami, FL">
  </div> 
  <div>
    <input type="submit" value="Join!">
  </div>
</form>