<% include ./partials/header %>

  <div class="container"></div>

    <% include ./partials/footer %>   
  </div> 
  <script type="text/javascript">
    const title = 'About';
    const style = '<link rel="stylesheet" href="stylesheets/style.css" type="text/css" />';
    $('head').append(style);
    $('title').append(title);
  </script>
</body>
</html>