<!DOCTYPE html>
<html>
    <head>
      <title></title>
      <link href="https://fonts.googleapis.com/css?family=Play:400,700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="stylesheets/archives.css" type="text/css" />
      <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
      </script>
    </head>
    <body>
        <nav>
            <ul>
                <li>Home</li>
                <li class="selected">Past shows</li>
                <li>Playlists</li>
                <li>About</li>
            </ul>
        </nav>
        <h1>hello from archives page!</h1>
        <div class='container'>
            <!-- <iframe 
                width="100%" 
                height="400" 
                src="https://www.mixcloud.com/widget/iframe/?light=1&feed=/soft_riders/soft-riders-live-on-jolt-radio-7182018/" 
                frameborder="0" >
            </iframe> -->
        </div>
        
        <script type="text/javascript" src="scripts/archives.js"></script>
        <script>
            let title = document.querySelector('title');
            title.innerText = document.querySelector('.selected').innerText;
        </script>
    </body>
</html>
