<% include ./partials/header %>

  <h1>hello from index.html!</h1>
  
  <form action="/" method="POST">
    <div>
      <label for="name">Name: </label>
      <input type="text" name="firstName" placeholder="First Name">    
      <input type="text" name="lastName" placeholder="Last Name"> 
    </div>
    <div>
      <label for="email">Email: </label>
      <input type="email" name="email">
    </div>
    <div>
      <label for="location">Location: </label>
      <input type="text" name="location" placeholder="example: Miami, FL">
    </div> 
    <div>
      <input type="submit" value="Join!">
    </div>
  </form>
  
  <script type="text/javascript" src="scripts/script.js"></script>
<% include ./partials/footer %>