<% include ./partials/header %>
    <video playsinline autoplay muted loop poster="" id="bgvid">
      <source src="/media/videos/strawberry.m4v#t=5" type="video/mp4">
    </video>

    <div class="container">
      <div class="signup-container">
        <% include ./partials/signup %>
        <i class="fas fa-times"></i>
      </div>   
    </div>

    <div class="container">
      <div id="audio-player">
        <p>
          Listen live from Jolt Radio!
        </p>
        <audio
          controls
          src="http://198.27.80.205:5220/;stream/1"
          type="audio/mpeg">
              Your browser does not support the
              <code>audio</code> element.
        </audio>
      </div>
      <div id="join-button">
        <p>Join the Mailing List!</p>
      </div>
    </div>   

    <% include ./partials/footer %>
  <script type="text/javascript" src="scripts/script.js"></script>
  <script type="text/javascript">
    const title = 'Soft Riders'
    const style = '<link rel="stylesheet" href="stylesheets/index.css" type="text/css" />'
    $('head').append(style);
    $('title').append(title);
  </script>  
</body>
</html>