<% include ./partials/header %>
  <div class="container">
    <div class="promos-player"></div>
    <div class="promos-container">
      <div class="promo"></div>
      <div class="promo"></div>
      <div class="promo"></div>
      <div class="promo"></div>
      <div class="promo"></div>
      <div class="promo"></div>
      <div class="promo"></div>
      <div class="promo"></div>
    </div>
  </div>
    
  <% include ./partials/footer %> 
  <script type="text/javascript">
    const title = 'Promos'
    const style = '<link rel="stylesheet" href="stylesheets/promos.css" type="text/css" />';
    $('head').append(style);
    $('title').append(title);
  </script>  
</body>
</html>