<% include ./partials/header %>
  <div class="container">
    <div class="promos-player">
      <%# <video controls style="background: none;">
        <source src="/media/videos/promos/img_0597.mp4" type="video/mp4">
      </video> %>
      <video  id='my-video' class='video-js' controls preload='auto' width='640' height='400'
              poster='' data-setup='{}'>
        <source src='/media/videos/promos/img_0597.mp4' type='video/mp4'>
        <%# <source src='MY_VIDEO.webm' type='video/webm'> %>
        <p class='vjs-no-js'>
          To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href='https://videojs.com/html5-video-support/' target='_blank'>supports HTML5 video</a>
        </p>
      </video>
    </div>
    <div class="promos-container">
      <div class="promo"></div>
      <div class="promo"></div>
      <div class="promo"></div>
      <div class="promo"></div>
      <div class="promo"></div>
      <div class="promo"></div>
      <div class="promo"></div>
      <div class="promo"></div>
    </div>
  </div>
    
  <% include ./partials/footer %> 
  <script type="text/javascript">
    const title = 'Promos'
    const style = '<link rel="stylesheet" href="stylesheets/promos.css" type="text/css" />';
    $('head').append(style);
    $('title').append(title);
  </script>  
  <script type="text/javascript" src="scripts/promos.js"></script>
  <script src='https://vjs.zencdn.net/7.6.0/video.js'></script>
</body>
</html>