<% include ./partials/header %>

  <div class='spotify-container'>
  </div>
  
  
  <script>
    let x = '<%= token %>';
  </script>
  <script type="text/javascript" src="scripts/soft_playlists.js"></script>

<% include ./partials/footer %>