<% include ./partials/header %>

  <div class='spotify-container'>
    <div id='soft_riders'></div>
    <div id='curated'></div>
  </div>
  
  <button>
    <a href="https://open.spotify.com/user/englishwallpaper">more</a>
  </button>
  
  
  <script>
    var body = '<%- JSON.stringify(body) %>';
  </script>
  <script type="text/javascript" src="scripts/soft_playlists.js"></script>

<% include ./partials/footer %>