html,
body {
  height: 100%;
}

body,
.navbar-header,
.navbar,
.navbar ul,
.container,
footer {
  display: flex;
}

body {
  margin: 0;
  background: linear-gradient(
    180deg,
    rgba(220, 220, 220, 1) 0%,
    rgba(0, 0, 0, 1) 60%
  );
  flex-direction: column;
  font-family: "Open Sans Condensed", sans-serif;
}

.navbar-header {
  flex-basis: 80px;
}

.navbar {
  width: 100%;
}

.navbar ul {
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  font-size: 2rem;
  margin: 0;
}

.navbar a {
  text-decoration: none;
  color: rgba(203, 203, 203, 0.8);
  transition: color 200ms ease-in;
}

.navbar a:hover {
  color: rgb(155, 36, 23);
}

.navbar li {
  margin-right: 1.5rem;
}

#brand {
  margin-right: auto;
}

nav .bars {
  display: none;
  margin: 10px;
  font-size: 2rem;
  color: aqua;
}

.container {
  flex-flow: column nowrap;
  flex: 1;
  align-items: center;
  margin: auto;
  color: rgba(203, 203, 203, 0.8);
  font-size: 1.5rem;
}

.container p {
  margin: 0;
  text-align: center;
}

#video-container,
video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60vh;
  opacity: 0.9;
  z-index: -100;
}

#audio-player audio {
  margin: 1rem;
}

.button {
  position: relative;
  bottom: 1rem;
  width: 200px;
  background-color: rgba(201, 0, 194, 0.8);
  border-radius: 3rem;
  margin-top: auto;
}

.button:hover {
  cursor: pointer;
}

.signup {
  display: none;
  position: relative;
  text-align: center;
  background: white;
  padding: 1rem;
  border: solid 0.2rem rgb(113, 109, 101);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 5px 8px rgba(186, 206, 205, 0.5);
  flex-direction: column;
  justify-content: center;
}

.signup #field {
  margin-bottom: 0.5rem;
}

footer {
  justify-content: flex-end;
  align-items: center;
  flex-basis: 80px;
  background-color: aqua;
}

footer .icons a {
  padding: 5px;
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
}
