html,
body {
  height: 100%;
}

body,
.navbar-header,
.navbar,
.navbar ul,
.container,
.signup-container,
.signup,
footer {
  display: flex;
}

body {
  margin: 0;
  background: linear-gradient(
    180deg,
    rgba(220, 220, 220, 1) 0%,
    rgba(0, 0, 0, 1) 60%
  );
  flex-flow: column nowrap;
  font-family: "Open Sans Condensed", sans-serif;
}

.navbar-header {
  flex-basis: 80px;
}

.navbar {
  width: 100%;
}

.navbar ul {
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  font-size: 2rem;
  margin: 0;
}

.navbar a {
  text-decoration: none;
  color: rgba(203, 203, 203, 0.8);
  transition: color 200ms ease-in;
}

.navbar a:hover {
  color: rgb(155, 36, 23);
}

.navbar li {
  margin-right: 1.5rem;
}

#brand {
  margin-right: auto;
}

nav .bars {
  display: none;
  margin: 10px;
  font-size: 2rem;
  color: aqua;
}

.container {
  position: relative;
  flex-flow: column nowrap;
  flex: 1;
  align-items: center;
  margin: auto;
  color: rgba(203, 203, 203, 0.8);
  font-size: 1.5rem;
}

.container p {
  margin: 0;
  text-align: center;
}

video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60vh;
  opacity: 0.9;
  z-index: -100;
}

#audio-player audio {
  margin: 1rem;
  outline: none;
}

#join-button {
  position: relative;
  bottom: 4rem;
  width: 200px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 3rem;
  margin-top: auto;
  transition: all 200ms ease;
}

#join-button p {
  padding: 0.75rem;
}

#join-button:hover {
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

.signup-container {
  display: none;
  position: absolute;
  top: 180px;
  margin: auto;
  padding: 1rem;
  width: 300px;
  color: rgb(60, 42, 42);
  background: rgb(198, 198, 201);
  border: solid 0.2rem rgb(113, 109, 101);
  border-radius: 0.5rem;
  z-index: 100;
}

.fa-times {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.fa-times:hover {
  transform: scale(1.05);
}

.signup {
  padding: 1rem;
  flex-flow: column nowrap;
  font-size: 1.5rem;
}

.signup input {
  all: unset;
}

#field {
  margin-bottom: 0.5rem;
}

#field input {
  margin: 0.25rem;
  width: 100%;
  text-indent: 1rem;
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(0, 0, 0, 0);
  transition: border 200ms ease;
}

#field input:focus,
#field input:hover {
  border: 2px solid rgb(70, 148, 208);
}

#submit {
  margin: 1rem auto;
}

#submit input {
  padding: 0.25rem;
  width: 150px;
  border-radius: 2rem;
  color: rgba(203, 203, 203, 0.8);
  background: rgb(70, 148, 208);
  text-align: center;
  cursor: pointer;
  transition: all 200ms ease;
}

#submit input:hover {
  color: white;
  transform: scale(1.05);
}

footer {
  justify-content: flex-end;
  align-items: center;
  flex-basis: 80px;
}

.icons {
  margin-right: 1rem;
}

footer .icons a {
  padding: 0 1rem 0.5rem 0;
  text-decoration: none;
  color: rgba(203, 203, 203, 0.8);
  font-size: 2.5rem;
}

@media (max-width: 992px) {
  .navbar ul {
    justify-content: space-evenly;
    padding: unset;
  }

  .navbar li {
    margin-right: unset;
  }

  #brand {
    display: none;
    margin-right: unset;
  }
}

@media (max-width: 576px) {
  body > * {
    transition: all 300ms ease;
  }

  .blur-background {
    filter: blur(0.3rem);
    transform: scale(1.025);
  }

  .navbar-header {
    flex-basis: 0;
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    z-index: 1000;
  }

  .navbar ul {
    display: none;
    flex-direction: column;
    position: absolute;
  }

  .navbar ul li {
    width: 200px;
    font-size: 2.5rem;
    margin-left: auto;
    padding: 1.75rem;
    border-bottom: solid 2px rgb(0, 251, 255);
    text-shadow: -1px 1px 0 #0a0e27;
  }

  #brand {
    display: none;
  }

  nav .bars {
    display: unset;
    position: absolute;
    top: 30px;
    right: 0;
    height: 50px;
    width: 50px;
  }

  .fa-bars {
    font-size: 2.5rem;
    cursor: pointer;
  }
}
