html,
body {
  height: 100%;
}

body,
.container,
.promos-container,
.promos-player,
.navbar-header,
.navbar,
.navbar ul,
footer {
  display: flex;
}

body {
  margin: 0;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(213, 212, 205);
  font-family: "Open Sans Condensed", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.navbar-header {
  flex-basis: 80px;
}

.navbar {
  width: 100%;
}

.navbar ul {
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  font-size: 2rem;
  margin: 0;
}

.navbar a {
  text-decoration: none;
  color: rgba(50, 50, 50, 0.8);
  transition: color 300ms ease-in;
}

.navbar a:hover {
  color: rgb(155, 36, 23);
}

.navbar li {
  margin-right: 1.5rem;
}

#brand {
  margin-right: auto;
}

nav .bars {
  display: none;
  margin: 10px;
  font-size: 2rem;
  color: rgb(4, 218, 214);
  filter: drop-shadow(-1px 1px 0 rgba(0, 0, 0, 0.3));
}

.container {
  margin-top: 2rem;
  flex-flow: column nowrap;
  justify-content: space-around;
  flex: 1;
}

.promos-player {
  margin: 1rem;
  padding: 1rem;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.promos-player video {
  height: 100%;
  width: 100%;
}

.promos-player p {
  font-size: 2rem;
  color: rgba(155, 36, 23, 0.8);
  filter: drop-shadow(0 0.125rem 0.3rem #aa9da5);
}

.promos-container {
  padding-left: 4rem;
  flex-flow: row nowrap;
  align-items: flex-end;
  overflow-y: auto;
}

div.promo {
  display: flex;
  margin: 1rem;
  flex: 1 0 200px;
  height: 250px;
  border: 2px solid black;
  transform: skew(-30deg) translate(0, 0);
  transition: all 200ms ease;
  overflow: hidden;
}

div.promo:hover {
  cursor: pointer;
  transform: skew(-30deg) translate(2px, -5px);
  filter: brightness(50%) drop-shadow(-0.3rem 0.3rem 0.25rem rgb(100, 100, 100));
}

div.promo video {
  width: 100%;
  transform: skew(30deg) scale(2.5);
}

footer {
  justify-content: flex-end;
  align-items: center;
  flex-basis: 80px;
  background-color: rgb(68, 65, 75);
}

footer .icons a {
  padding: 0 1rem 0.5rem 0;
  text-decoration: none;
  color: rgba(203, 203, 203, 0.8);
  font-size: 2.5rem;
}

.icons {
  margin-right: 1rem;
}

#promos-title {
  margin-left: 1.25rem;
}

#promos-title p {
  display: none;
  margin: 0;
  padding: 0;
  font-size: 2.75rem;
  text-shadow: -3px 3px 0 rgb(213, 212, 205), -6px 6px 0 rgba(98, 55, 150, 0.65);
  color: rgba(68, 65, 75, 0.9);
}

@media (max-width: 992px) {
  .navbar ul {
    justify-content: space-evenly;
    padding: unset;
  }

  .navbar li {
    margin-right: unset;
  }

  #brand {
    display: none;
    margin-right: unset;
  }
}

@media (max-width: 576px) {
  body > * {
    transition: all 300ms ease;
  }

  .blur-background {
    filter: blur(3px) brightness(50%);
    transform: scale(1.025);
  }

  .navbar-header {
    flex-basis: 0;
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    z-index: 1000;
  }

  .navbar ul {
    display: none;
    flex-direction: column;
    position: absolute;
  }

  .navbar ul li {
    width: 40%;
    font-size: 2.5rem;
    margin-left: auto;
    padding: 1.25rem;
    color: rgb(50, 50, 50);
    text-shadow: 1px 1px 0 rgb(179, 254, 255);
    border-bottom: solid 2px rgb(0, 251, 255);
  }

  #brand,
  #promos {
    display: none;
  }

  #promos-title p {
    display: unset;
  }

  nav .bars {
    display: unset;
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
  }

  .fa-bars {
    font-size: 2.5rem;
    cursor: pointer;
  }
}
