@media (max-width: 576px) {
  .container {
    flex-direction: column;
    flex-grow: 1;
  }

  .navbar-header {
    flex-direction: column;
  }

  .navbar {
    display: none;
  }

  .navbar ul {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
  }

  nav .bars {
    display: block !important;
  }

  .container div h1 {
    display: flex;
    justify-content: center;
  }

  .mixcloud-grid,
  .spotify-grid {
    flex-basis: 100%;
    flex-direction: column;
    overflow: scroll;
  }

  .mixplayer,
  .spotify-player {
    object-fit: cover;
    flex-basis: 100%;
    flex-grow: 1;
  }

  #play-image {
    display: none;
  }

  .playlist-card {
    margin: 3rem;
  }

  footer {
    flex-basis: 50px;
  }
}

@media (max-width: 992px) {
}

body {
  margin: 0;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Play", sans-serif;
}

body,
.navbar-header,
ul {
  display: flex;
}

.navbar ul {
  border: solid 2px black;
  margin: 10px;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  font-size: 1.5rem;
}

.navbar a {
  text-decoration: none;
  color: #b5b5b5;
}

ul li #brand {
  margin-right: auto;
}

nav .bars {
  display: none;
  margin: 10px;
  font-size: 2rem;
  color: aqua;
}

.container {
  display: flex;
  flex-basis: 800px;
}

.container h1 {
  display: none;
  color: #88506f;
}

.mixcloud-grid,
.spotify-grid {
  display: flex;
  background-color: rgb(181, 181, 181);
  border-radius: 0.5rem;
}

.mixcloud-content,
.spotify-content {
  /* border: solid 2px rgb(73, 63, 63);
  border-radius: 0.5rem;
  padding: 1rem; */
  display: flex;
}
.playlist-card {
  display: flex;
  flex-flow: column wrap;
  align-content: space-around;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 2px rgb(73, 63, 63);
  border-radius: 0.5rem;
  opacity: 0.75;
  transform: scale(0.95);
  transition: transform 200ms ease-in, opacity 300ms linear 150ms;
}

.playlist-card img {
  width: 100%;
  object-fit: cover;
}

.playlist-card span {
  display: block;
}

#caption {
  text-align: center;
  margin: 0.5rem auto;
}

.playlist-card:hover {
  opacity: 1;
  transform: scale(1);
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 80px;
  background-color: aqua;
}

footer .icons a {
  padding: 5px;
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
}
