body,
.container,
.container > *,
.navbar-header,
.navbar,
.navbar ul,
footer {
  display: flex;
}

body {
  margin: 0;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Open Sans Condensed", sans-serif;
}

.navbar-header {
  flex-basis: 80px;
}

.navbar {
  width: 100%;
}

.navbar ul {
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  font-size: 2rem;
  margin: 0;
}

.navbar a {
  text-decoration: none;
  color: rgba(50, 50, 50, 0.8);
  transition: color 300ms ease-in;
}

.navbar a:hover {
  color: rgb(155, 36, 23);
}

.navbar li {
  margin-right: 1.5rem;
}

#brand {
  margin-right: auto;
}

nav .bars {
  display: none;
  margin: 10px;
  font-size: 2rem;
  color: aqua;
}

.container {
  height: calc(100vh - 160px);
}

.container h1 {
  display: none;
  color: #88506f;
}

.mixcloud-grid,
.spotify-grid {
  flex: 1 1 60%;
  justify-content: space-evenly;
  align-content: flex-start;
  flex-flow: row wrap;
  background-color: rgb(181, 181, 181);
  border-radius: 0.5rem;
  overflow: scroll;
}

.mixcloud-content,
.spotify-content {
  flex: 1 1 40%;
}
.playlist-card {
  flex: 0 1 20%;
  flex-flow: column wrap;
  padding: 0;
  margin: 0.75rem;
  color: rgba(50, 50, 50, 0.8);
  font-size: 1.25rem;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 2px rgb(73, 63, 63);
  border-radius: 0.5rem;
  opacity: 0.75;
  transform: scale(0.95);
  transition: transform 200ms ease-in, opacity 300ms linear 150ms;
}

.playlist-card img {
  border-radius: 0.25rem 0.25rem 0 0;
  width: 100%;
}

.playlist-card span {
  display: block;
  font-weight: normal;
}

.caption {
  margin: 0.5rem auto;
  padding: 5px;
  text-align: center;
}

.playlist-card:hover {
  opacity: 1;
  transform: scale(1);
  cursor: pointer;
}

footer {
  justify-content: flex-end;
  align-items: center;
  flex-basis: 80px;
  background-color: aqua;
}

footer .icons a {
  padding: 5px;
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
}
@media (max-width: 1200px) {
  .playlist-card {
    flex: 0 1 25%;
  }
}
@media (max-width: 992px) {
  .navbar ul {
    justify-content: space-evenly;
    padding: unset;
  }

  .navbar li {
    margin-right: unset;
  }

  #brand {
    display: none;
    margin-right: unset;
  }

  .playlist-card {
    flex: 0 1 40%;
  }
}

@media (max-width: 576px) {
  .container {
    flex-direction: column;
    flex-basis: calc(100vh - 150px);
  }

  .container .title {
    margin: 0;
    font-family: "Lobster", cursive;
    font-size: 1.75rem;
    letter-spacing: 0.25rem;
    justify-content: center;
  }

  .navbar-header {
    flex-basis: 0;
    flex-direction: row;
    justify-content: flex-end;
  }

  .navbar ul {
    flex-direction: column;
  }

  .navbar ul li {
    width: 200px;
    font-size: 2.5rem;
    font-weight: bold;
    margin-right: auto;
    padding: 1.75rem;
    background-color: rgb(230, 230, 230);
    border-bottom: solid 2px black;
    transition: background-color 300ms linear;
  }

  .navbar ul li:hover {
    background-color: aqua;
  }

  #brand {
    display: none;
  }

  .bars {
    margin: 0 1rem;
    height: 50px;
    display: block !important;
  }

  .container div h1 {
    display: flex;
    justify-content: center;
  }

  .mixcloud-grid,
  .spotify-grid {
    justify-content: unset;
    align-content: unset;
    flex: 0 100%;
    flex-flow: column nowrap;
    overflow: scroll;
  }

  .mixcloud-content,
  .spotify-content {
    flex: unset;
  }

  .mixplayer,
  .spotify-player {
    object-fit: cover;
    flex-basis: 100%;
    flex-grow: 1;
  }

  #play-image {
    display: none;
  }

  .playlist-card {
    margin: 3rem;
  }
}
